<span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#">
  <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">#name_display#</a>
  <script>
    $('.cmd[data-cmd_uid=#uid#] .action').off('click').on('click', function () {
      jeedom.cmd.execute({id: '#id#'});

      alert('eqlogic #eqLogic_id#');
      alert( 'check if md_modal exists:' );
      alert (  $('#md_modal').length );
      if ( $('#md_modal').length ==0 ) {
        var thvirtuel_dialog = $('<div id="md_modal" title=""></div>').appendTo("body").dialog({ 
          autoOpen: false,
          modal: true,
          resizable: true,
          draggable: true,
          width: "auto",
          height: "auto",
          dialogClass:"dialogStyle",
          closeText: "",
          closeOnEscape: true}
        );
      }
      $('#md_modal').dialog({
        title: "{{Evenements}}"
      }).load('index.php?v=d&plugin=jeeksenia&modal=modal.events&eqLogic_id=#eqLogic_id#&cmdid=#id#').dialog('open')
    })
  </script>
</span>
