<span class="cmd cmd-widget" data-type="action" data-subtype="other" data-template="default" data-version="#version#" data-eqLogic_id="#eqLogic_id#" data-cmd_id="#id#" data-cmd_uid="#uid#">
  <a class="action ui-btn ui-mini ui-btn-inline ui-btn-raised">#name_display#</a>
  <script>
    $('.cmd[data-cmd_uid=#uid#] .action').off('click').on('click', function () {
      jeedom.cmd.execute({id: '#id#'});

    //function(_page, _title, _option, _plugin, _dialog) 
    jeedomUtils.loadPage(
      'index.php?v=m&plugin=jeeksenia&modal=modal.events&eqLogic_id=#eqLogic_id#&cmdid=#id#',
      'events',
      null,
      'jeeksenia'
    );

/*       if ( $('#md_modal').length ==0 ) {
        var thvirtuel_dialog = $('<div id="md_modal" title=""></div>').appendTo("body")
        // .dialog({ 
        //   autoOpen: false,
        //   modal: true,
        //   resizable: true,
        //   draggable: true,
        //   width: "auto",
        //   height: "auto",
        //   dialogClass:"dialogStyle",
        //   closeText: "",
        //   closeOnEscape: true}
        // )
        ;
      } */

      //page('index.php?v=m&plugin=jeeksenia&modal=modal.events&eqLogic_id=#eqLogic_id#&cmdid=#id#')

      // $('#md_modal').dialog({
      //   title: "{{Evenements}}"
      // }).load('index.php?v=m&plugin=jeeksenia&modal=modal.events&eqLogic_id=#eqLogic_id#&cmdid=#id#');

      //Corrige l'erreur de position x
      // setTimeout(function () {
      //   $('#md_modal').dialog('open');
      //   //Corrige l'erreur de position y sur mobile Android
      //   var box = $('#md_modal').closest('.ui-dialog');
      //   var windowHeight = window.innerHeight;
      //   var boxHeight = box.height();
      //   box.css('top', window.scrollY+((windowHeight - boxHeight )/2));
      // }, 500);

    })
  </script>
</span>
